{%extends 'pages/ESI/ESI_base.html'%}
{% load static %}



{% block title %}
<title>Sihate | doctor</title>
{% endblock title %}


{% block pagecontent %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-calendar fa-fw"></i> Rendez-vous Annuelle </b></h5>
  </header>

  <center>
    <h2 style="color:black"> Send Email to Students for annual appointment in the medical unity of ESI-SBA </h2>
  </center>


  <center><a href="https://mail.google.com/mail/u/?authuser=guerzizines@gmail.com" class="popup"><span
        class="w3-button w3-blue w3-margin-bottom w3-round-large w3-hover-blue w3-hover-shadow">Send commun
        Email</span></a>
  </center>

  <script>
    function getvalues() {
      var selected = new Array();
      var checkbox = document.getElementById("tabl");
      var selchk = checkbox.getElementByTagName("input");
      for (var i = 0; i < selchk.length; i++) {
        if (selchk[i].checked) {
          selected.push(selchk[i].value);
        }
      }
      if (selected.length > 0) {
        document.getElementById("displayvalues").innerHTML = selected;
      }

    };
  </script>

</div>




{% endblock pagecontent %}