{%extends 'profiles/manager/index.html'%}
{% load widget_tweaks %}
{% load static %}


{% block title%} Manager patients {% endblock title %}


<!-- PAGE CONTENT! -->
{% block content %}


<!-- New -->
<div class="py-4">
  <div class="dropdown">
    <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
      Add
    </button>
    <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
      <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_patient_modal">
        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
          </path>
        </svg>
        Add User
      </a>
    </div>
  </div>
</div>


{% include "profiles/manager/includes/components/add_patient_modal.html" %}


<!-- TABLE PATIENTS -->
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="fs-5 fw-bold mb-0">Recent patients</h2>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th class="border-bottom" scope="col">Username</th>
                  <th class="border-bottom" scope="col">Full name</th>
                  <th class="border-bottom" scope="col">picture</th>
                  <th class="border-bottom" scope="col">address</th>
                  <th class="border-bottom" scope="col">mobile</th>
                  <th class="border-bottom" scope="col">Symptoms</th>
                  <th class="border-bottom" scope="col">Gender</th>
                  <th class="border-bottom" scope="col">Age</th>
                  <th class="border-bottom" scope="col">Admit date</th>
                  <th colspan="2" class="border-bottom" scope="col">Status</th>
                  <th colspan="2" class="border-bottom" scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
                {% for patient in patients %}
                <tr>
                  <td class="text-gray-900" scope="row">{{patient.username }}</td>
                  <td class="text-gray-900" scope="row">{{patient.get_name}}</td>
                  <td class="text-gray-900" scope="row">
                    <img src="{{patient.get_profile_pic}}" alt="patient profile picture" width="60">
                  </td>
                  <td class="text-gray-900" scope="row">{{patient.address}}</td>
                  <td class="text-gray-900" scope="row">{{patient.mobile}}</td>
                  <td class="text-gray-900" scope="row">{{patient.symptoms}}</td>
                  <td class="text-gray-900" scope="row">{{patient.gender}}</td>
                  <td class="text-gray-900" scope="row">{{patient.age}}</td>
                  <td class="text-gray-900" scope="row">{{patient.admit_date}}</td>
                  
                  <td class="text-gray-900" scope="row">{{patient.get_status}}</td>
                  <td class="text-gray-900" scope="row">
                    {% if patient.status %}
                      <a href="{% url 'manager_patient_status_view' patient.id %} "  class="btn btn-warning" type="button">Make Pending</a>
                    {% else %}
                      <a href="{% url 'manager_patient_status_view' patient.id %}" class="btn btn-info" type="button">Approve</a>
                    {% endif %}
                  </td>

                  <td class="text-gray-900" scope="row"><button class="btn btn-success edit-patient-btn" type="button" data-bs-toggle="modal" data-bs-target="#update_patient_modal_{{patient.id}}" data-form-id="#update_patient_form_{{patient.id}}">Edit</button></td>
                  <td class="text-gray-900" scope="row"><button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete_patient_modal_{{patient.id}}" >Delete</button>
                    
                  </td>
                </tr>


                <!-- EDIT MODAL -->
                {% include "profiles/manager/includes/components/update_patient_modal.html" %}

                <!-- DELETE MODAL -->
                {% include "profiles/manager/includes/components/delete_patient_modal.html" %}

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#add_patient_form").submit(function (event) {
      // Prevent the form from submitting normally
      event.preventDefault();

      // Get the form data
      var formData = new FormData(this);

      // Submit the form using AJAX
      $.ajax({
        url: $(this).attr("action"),
        type: $(this).attr("method"),
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          $('.text-danger').remove();
          if (response && 'errors' in response) {
            console.log(response.errors)
            // Display error messages for each field
            $.each(response.errors, function (key, value) {
              $('#' + key).after('<small class="text-danger">' + value + '</small>');
            });
          } else {
            window.location.replace("{% url 'manager_patients_view'  %}");
            $('#success_message').text(response.success);
          }
          console.log(response)
        },
        errors: function (xhr, status, error) {
          alert("an error occured")

        }
      });
    });
    
    //GET MODAL ID FROM CLicked BUTTON
    $('button.edit-patient-btn').on('click', function() {
      var patientFormId = $(this).data('form-id');

      $(patientFormId).submit(function (event) {
        event.preventDefault();
  
        // Get the form data
        var formData = new FormData(this);
        
        // Submit the form using AJAX
        $.ajax({
          url: $(this).attr("action"),
          type: $(this).attr("method"),
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            $('.text-danger').remove();
            if (response && 'errors' in response) {
              // console.log(response.errors)
              // Display error messages for each field
              $.each(response.errors, function (key, value) {
                $('#' + key + "_" + response.id).after('<small class="text-danger">' + value + '</small>');
              });
            } else {
              window.location.replace("{% url 'manager_patients_view'  %}");
              if (response.success){
                $('#success_message').text(response.success);
              }
            }
            console.log(response)
          },
          errors: function (xhr, status, error) {
            alert("an error occured")
          }
        });
      });
    });
  });
</script>
{%endblock content%}