{%extends 'pages/patient/patient_base.html'%}
{% load static %}


{% block title %}
<title>Sihate | patient</title>
{% endblock title %}


{% block pagecontent %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


       <!-- Header -->
       <header class="w3-container" style="padding-top:22px">
              <h5><b><i class="fa fa-calendar"></i> Rendez-vous </b></h5>
       </header>

       {% block content %}
       <center>
              <div class="container" class="form-horizontal">
                     <form method="post">
                            {% if user.is_authenticated %}
                            {% csrf_token %}
                            <p>Are you sure you want to delete "{{ Rdv.id }}" ?
                            <p>
                                   <input type="submit" value="Submit" class="btn btn-danger" />
                                   {% endif %}
                     </form>
              </div>
       </center>
       {% endblock %}

</div>
{% endblock pagecontent %}