{%extends 'pages/base.html'%}
{% load widget_tweaks %}
{%load static%}


{%block title %}
<title>Login | Sihat_e</title>
{%endblock title %}


{%block content%}
<section class="mt-5">

  <div class="container mt-5">
    <div class="row">

      <form action="" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          {% render_field form.username class="form-control" id="floatingUsername" placeholder="First Name" %}
          <label for="floatingUsername">Username</label>
          {% if form.username.errors %}
          <small class="text-danger">{{ form.username.errors|first }}</small>
          {% endif %}
        </div>
        <div class="form-floating mb-3">
          {% render_field form.password class="form-control" id="floatingPassword" placeholder="Password" %}
          <label for="floatingPassword">Password</label>
          {% if form.password.errors %}
          <small class="text-danger">{{ form.password.errors|first }}</small>
          {% endif %}
        </div>

        <!------------------------------------------------------------------------------>
        <!---------------------------------- messages ---------------------------------->
        <!------------------------------------------------------------------------------>

        {%for message in messages%}
        <div class="alert alert-success d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <div>
            {{message}}
          </div>
        </div>
        {%endfor %}


        <p>Don't have an account? Register as <a href="{% url 'patient_signup_view' %}">Patient</a> Or Register as <a
            href="{% url 'doctor_signup_view' %}"> Doctor</a> </p>

        <!------------------------------------------------------------------------------>
        <!------------------------------------ Submit ---------------------------------->
        <!------------------------------------------------------------------------------>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit" type="button">Login</button>
        </div> <!-- end submit -->

      </form>
    </div>
  </div>
</section>

{%endblock content%}