{%extends 'pages/base.html'%}
{%load static%}


{%block title %}
<title>Login | Sihat_e</title>
{%endblock title %}


{%block content%}
<section class="mt-5">

  <div class="container mt-5">
    <form action="" method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>

      <!------------------------------------------------------------------------------>
      <!---------------------------------- messages ---------------------------------->
      <!------------------------------------------------------------------------------>

      {%for message in messages%}
      <span style="background-color: #ff0000; color: cornsilk;border-radius: 2px;padding: 0px 4px 0px 4px;">{{message}}
      </span>
      {%endfor %}

      <!------------------------------------------------------------------------------>
      <!------------------------------------ Submit ---------------------------------->
      <!------------------------------------------------------------------------------>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit" type="button">Login</button>
      </div> <!-- end submit -->

    </form>
  </div>
</section>

{%endblock content%}