{% load static %}
<html lang="en" dir="ltr">

<head>
    {% block title %}
    <title>Home | Sihat_e</title>
    {% endblock title %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="Medical Record Managment System">
    <meta content="" name="patient,doctor,medical,record,managment,prescription,appointment,office">

    <!-- Favicons -->
    <link href="{%static 'assets/img/logo/logo-sihate.png'%}" rel="icon">
    <link href="{%static 'assets/img/logo/logo-sihate.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <!------------------------------------------------------------------------------>
    <!---------------------------------- Header ------------------------------------>
    <!------------------------------------------------------------------------------>

    {%include 'pages/parts/topbar_section.html'%}
    {%include 'pages/parts/header_section.html'%}

    <!------------------------------------------------------------------------------>
    <!------------------------------ Block Content --------------------------------->
    <!------------------------------------------------------------------------------>

    {%block content%}
    {%endblock content%}

    <!------------------------------------------------------------------------------>
    <!-------------------------- ArrowUp and Preloader ----------------------------->
    <!------------------------------------------------------------------------------>


    {%include 'pages/parts/preloader.html'%}
    {%include 'pages/parts/arrowup.html'%}


    <!------------------------------------------------------------------------------>
    <!---------------------------------- footer ------------------------------------>
    <!------------------------------------------------------------------------------>


    {%include 'pages/parts/footer_section.html'%}


    <!------------------------------------------------------------------------------>
    <!---------------------------------- scripts ----------------------------------->
    <!------------------------------------------------------------------------------>


    {%include 'pages/parts/scripts.html'%}

</body>

</html>