{%extends 'pages/base.html'%}
{% load static %}

{% block title %}
<title>Home | Sihat_e</title>
{% endblock title %}

{%block content%}
{%for message in messages%}
<h2>
  thank you <strong style="color: green;">{{ Name }}</strong>
</h2>
<p> we received your email and we will respond shortly...</p>
{%endfor%}




<!------------------------------------------------------------------------------>
<!------------------------------- Hero section --------------------------------->
<!------------------------------------------------------------------------------>

{%include 'pages/parts/hero_section.html'%}

<!------------------------------------------------------------------------------>
<!------------------------------- Main section --------------------------------->
<!------------------------------------------------------------------------------>

{%include 'pages/parts/main_section.html'%}

{%endblock content%}