{%load static%}
<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Doctors</h2>
            <p>Welcome to our website! Our team of skilled and experienced doctors are dedicated to providing the best possible medical care to our patients. We offer a wide range of medical services and specialize in various fields, including cardiology, neurology, pediatrics, and more. Our doctors are trained to handle both simple and complex medical conditions, and are committed to helping our patients live healthy and fulfilling lives. Contact us today to schedule an appointment with one of our top-notch doctors.</p>
        </div>

        <div class="row">
            {% for doctor in doctors %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="{{doctor.get_profile_pic}}" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{doctor.get_name}}</h4>
                        <span>{{doctor.department}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}


            

        </div>

    </div>
</section><!-- End Doctors Section -->