{%extends 'profiles/manager/index.html'%}
{% load widget_tweaks %}
{% load static %}


{% block title%} Manager appointments {% endblock title %}


<!-- PAGE CONTENT! -->
{% block content %}


<!-- New -->
<div class="py-4">
  <div class="dropdown">
    <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
      Add
    </button>
    <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
      <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_appointment_modal">
        <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
          </path>
        </svg>
        Add Appointment
      </a>
    </div>
  </div>
</div>


{% include "profiles/manager/appointments/includes/components/add_appointment_modal.html" %}


<!-- TABLE APPOINTMENTS -->
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="fs-5 fw-bold mb-0">Recent appointments</h2>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th class="border-bottom" scope="col">Patient</th>
                  <th class="border-bottom" scope="col">Doctor</th>
                  <th class="border-bottom" scope="col">Date</th>
                  <th class="border-bottom" scope="col">Description</th>
                  <th colspan="2" class="border-bottom" scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
                {% for appointment in appointments %}
                <tr>
                  <td class="text-gray-900" scope="row">{{appointment.patient.username }}</td>
                  <td class="text-gray-900" scope="row">{{appointment.doctor.username}}</td>
                  <td class="text-gray-900" scope="row">{{appointment.date}}</td>
                  <td class="text-gray-900" scope="row">{{appointment.description}}</td>

                  <td class="text-gray-900" scope="row">
                    <a href="{% url 'manager_update_appointment_view' appointment.id %}" class="btn btn-success edit-appointment-btn"
                      type="button" data-bs-toggle="modal" data-bs-target="#update_appointment_modal_{{appointment.id}}"
                      data-form-id="#update_appointment_form_{{appointment.id}}" data-id="{{ appointment.id }}">
                      Edit
                    </a>
                  </td>

                  <td class="text-gray-900" scope="row">
                    <button class="btn btn-danger" type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#delete_appointment_modal_{{appointment.id}}">
                      Delete
                    </button>
                  </td>
                </tr>


                <!-- EDIT MODAL -->
                {% include "profiles/manager/appointments/includes/components/update_appointment_modal.html" %}



                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $('.edit-appointment-btn').click(function() {
        var url = $(this).attr('href'); // Get the URL from the href attribute
        var formId = $(this).data('form-id'); // Get the form ID from the data-form-id attribute
        var appointmentId = $(this).data('id'); // Get the appointment ID from the data-id attribute


        $.ajax({
            url: url,
            type: 'GET',
            success: function(response) {
                $(formId).html(response.form_html); // Update the form content
                console.log(response.form_html);
              },
              error: function(xhr, status, error) {
                alert(status);
                console.log(xhr.responseText); // Log any errors to the console
            }
        });



      });
  });
  </script>
  
{%endblock content%}