{%extends 'index/base.html'%}
{% load static %}

{% block title %} Home | Sihat_e {% endblock title %}

{%block content%}

    <!------------------------------------------------------------------------------>
    <!------------------------------- Hero section --------------------------------->
    <!------------------------------------------------------------------------------>

    {%include 'index/includes/hero_section.html'%}

    <!------------------------------------------------------------------------------>
    <!------------------------------- Main section --------------------------------->
    <!------------------------------------------------------------------------------>

    {%include 'index/includes/main_section.html'%}

{%endblock content%}