<li class="nav-item {% if 'components-' in segment %} active {% endif %}">
    <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
        data-bs-target="#submenu-components">
        <span>
            <span class="sidebar-icon">
                {% block sidebar_item_collapse_icon %}{% endblock sidebar_item_collapse_icon %}
            </span>
            <span class="sidebar-text"> 
                {% block sidebar_item_collapse_title %}{% endblock sidebar_item_collapse_title%}
            </span>
        </span>
        <span class="link-arrow">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </span>
    </span>
    <div class="multi-level collapse {% if 'components-' in segment %} show {% endif %}" role="list"
        id="submenu-components" aria-expanded="false">
        <ul class="flex-column nav">
            <!-- subitems -->
            <li class="nav-item {% if 'components-buttons' in segment %} active {% endif %}">
                <a class="nav-link" href="/components-buttons.html">
                    <span class="sidebar-text">Buttons</span>
                </a>
            </li>
        </ul>
    </div>
</li>