{% extends 'profiles/manager/includes/parts/sidebar.html' %}
{% load static %}


{% block profile_pic %}
{% if doctor.profile_pic %}
<img src="{{manager.profile_pic.url}}" class="rounded-circle"  alt="Manager profile picture" />
{% else %}
<img src="{% static 'assets/profile/img/default/default_profile_picture.png' %}" class="rounded-circle" alt="Default Manager profile picture" />
{% endif %}
{% endblock profile_pic %}


{% block username %}{{manager.username}}{% endblock username %}


{% block sidebar_items %}

  {% include "profiles/manager/includes/sidebar_items/dashboard.html" %}
  {% include "profiles/manager/includes/sidebar_items/patients.html" %}
  {% include "profiles/manager/includes/parts/sidebar_devider.html" %}
  {% include "profiles/manager/includes/sidebar_items/profile.html" %}

{% endblock sidebar_items %}