{% extends 'profiles/doctor/includes/parts/sidebar.html' %}


{% block profile_pic %}
<img class="rounded-circle" src="{{doctor.profile_pic.url}}" alt="Doctor picture" />
{% endblock profile_pic %}


{% block username %}{{doctor.username}}{% endblock username %}


{% block sidebar_items %}

  {% include "profiles/doctor/includes/sidebar_items/dashboard.html" %}
  {% include "profiles/doctor/includes/sidebar_items/patients.html" %}
  {% include "profiles/doctor/includes/sidebar_items/appointments.html" %}
  {% include "profiles/doctor/includes/sidebar_items/medical_records.html" %}
  {% include "profiles/doctor/includes/parts/sidebar_devider.html" %}
  {% include "profiles/doctor/includes/sidebar_items/profile.html" %}

{% endblock sidebar_items %}