{% load widget_tweaks %}

<div class="modal fade" id="update_appointment_modal_{{appointment.id}}" tabindex="-1" role="dialog" aria-labelledby="update_appointment_modal_{{appointment.id}}"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card p-3 p-lg-4">
          <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h4">Add Appointment</h1>
          </div>
          <form id="update_appointment_form_{{appointment.id}}" method="post" action="{% url 'manager_update_appointment_view' appointment.id %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            

            <button type="submit" class="btn btn-primary btn-block">Save Appointment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
