{% extends 'profiles/patient/includes/parts/sidebar.html' %} 
{% load static %}

{% block profile_pic %}

<img src="{{patient.get_profile_pic}}" class="rounded-circle" alt="patient picture" />

{% endblock profile_pic %} 

{% block username %}{{patient.username}}{% endblock username %}

{% block sidebar_items %} 

  {% include "profiles/patient/includes/sidebar_items/dashboard.html" %} 
  {% include "profiles/patient/includes/sidebar_items/doctors.html" %} 
  {% include "profiles/patient/includes/sidebar_items/appointments.html" %} 
  {% include "profiles/patient/includes/sidebar_items/medical_records.html" %} 
  {% include "profiles/patient/includes/parts/sidebar_devider.html" %} 
  {% include "profiles/patient/includes/sidebar_items/profile.html" %} 

{% endblock sidebar_items %}
