{% extends 'profiles/patient/includes/parts/sidebar.html' %} 
{% load static %}

{% block profile_pic %}

{% if patient.profile_pic %}
<img src="{{patient.profile_pic.url}}" class="rounded-circle" alt="patient picture" />
{% else %}
<img src="{% static 'assets/profile/img/default/default_profile_picture.png' %}" class="rounded-circle"
  alt="Default profile picture" />
{% endif %}

{% endblock profile_pic %} 

{% block username %}{{patient.username}}{% endblock username %}

{% block sidebar_items %} 

  {% include "profiles/patient/includes/sidebar_items/dashboard.html" %} 
  {% include "profiles/patient/includes/sidebar_items/doctors.html" %} 
  {% include "profiles/patient/includes/sidebar_items/appointments.html" %} 
  {% include "profiles/patient/includes/sidebar_items/medical_records.html" %} 
  {% include "profiles/patient/includes/parts/sidebar_devider.html" %} 
  {% include "profiles/patient/includes/sidebar_items/profile.html" %} 

{% endblock sidebar_items %}
