{%load static%}
<!-- Footer -->
<footer class="w3-center color1 w3-padding-16">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-row ">
        <div class="w3-third w3-container" style="text-align: left">
            <p>WELCOME!. <br>Welcome in our cite web<br>here you will find the best service<br>create an acount and
                contact
                your<br>doctor easly </p>
        </div>
        <div class="w3-third w3-container" style="text-align: left">
            <p>ABOUT US<br>Une application web pour la<br> gestion du dossier médical par<br> l'unité de médecine
                ESI-SBA
            </p>
        </div>
        <div class="w3-third w3-container" style="text-align: left">
            <p>OUR SERVICES<br>Gestion des rendez-vous<br>Gestion des statistiques<br>Gestion des
                nomenclatures<br>Gestion
                des examens médicaux.</p>
        </div>
    </div>

</footer>