{%load static%}
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">

    <div class="w3-display-left w3-text-white w3-center" style="padding:48px">
        <h1 class="  " style="color:#303143;text-align:center;"> <strong>The best <br>Medical Services</strong></h1>
        <br>
        <span class="w3-large" style="color:#303143;text-align:center;">We give you here the best services<br>to
            protect
            your health you can comunicate <br>your doctor easy and ..</span>
        <p><a href="#About" class="w3-button  w3-padding-large w3-large w3-margin-top  w3-button-nb">show more</a>
        </p>
    </div>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</header>