{%load static%}

<main id="main">

  {% include "pages/parts/main_parts/featured_services_section.html" %}
  {% include "pages/parts/main_parts/cta_section.html" %}
  {% include "pages/parts/main_parts/services_section.html" %}
  {% include "pages/parts/main_parts/about_section.html" %}
  {% include "pages/parts/main_parts/counts_section.html" %}
  {% include "pages/parts/main_parts/features_section.html" %}
  {% include "pages/parts/main_parts/appointment_section.html" %}
  {% include "pages/parts/main_parts/departments_section.html" %}
  {% include "pages/parts/main_parts/testimonials_section.html" %}
  {% include "pages/parts/main_parts/doctors_section.html" %}
  {% include "pages/parts/main_parts/gallery_section.html" %}
  {% include "pages/parts/main_parts/frequently_asked_questions_section.html" %}
  {% include "pages/parts/main_parts/contact_section.html" %}

</main><!-- End #main -->