{%load static%}
<!-- Services Section -->
<div class="w3-container w3-center w3-dark-grey" style="padding:128px 16px" id="Services">
    <h3>Services</h3>
    <p class="w3-large">Discover all our services.</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-third w3-section ">
            <ul class="w3-ul w3-white w3-hover-shadow w3-rounde">
                <li class="w3-black w3-xlarge w3-padding-32">Assistance</li>


                <!-- <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-black w3-padding-large">Take a look</button>
                </li> -->
            </ul>
        </div>
        <div class="w3-third w3-section">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">Backup</li>

                <!-- <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-black w3-padding-large">Take a look</button>
                </li> -->
            </ul>

        </div>
        <div class="w3-third w3-section">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">Installation</li>
                <!-- <li class="w3-padding-16"><b>...</b> text</li>
                <li class="w3-padding-16"><b>...</b> text</li>
                <li class="w3-padding-16"><b>...</b> text</li>
                <li class="w3-padding-16"><b>...</b> text</li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-black w3-padding-large">Take a look</button>
                </li> -->
            </ul>
        </div>
    </div>
</div>