{%load static%}
<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left  w3-hide-large" style="display:none"
    id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-small w3-padding-16"
        style="background-color:rgb(249, 81, 68);color:white">Close ×</a>
    <a href="#home" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-none w3-padding-small i-margin w3-button-nb-1">Home</a>
    <a href="#About" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-none w3-padding-small i-margin w3-button-nb-1">About</a>
    <a href="#Services" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-none w3-padding-small i-margin w3-button-nb-1">Services</a>
    <a href="#contact" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-none w3-padding-small i-margin w3-button-nb-1">Contact</a>
    <button onclick="login()"
        class="w3-bar-item w3-button w3-hover-none w3-padding-small i-margin w3-button-nb">Login</button>
    <!-- onclick="document.getElementById('id01').style.display='block'" -->
</nav>