{%extends 'profiles/doctor/doctor_base.html'%} {% load static %} {% block title
%}
<title>Sihate | profile</title>
{% endblock title %}

<!-- !PAGE CONTENT! -->
{%block pagecontent%}
<div class="w3-main" style="margin-left: 300px; margin-top: 43px">
  <!--profile  -->

  <header class="w3-container" style="padding-top: 22px">
    <h5>
      <b><i class="fa fa-cog fa-fw"></i> Account Settings </b>
    </h5>
    <hr />
  </header>
  <br />
  <section class="w3-container">
    <div class="w3-row-padding">
      <h2><strong>personal informations</strong></h2>
      <p>Please edit your profile settings.</p>
      <br />
    </div>

    <div class="w3-row-padding">
      <center>
        <img
          style="border-radius: 50%; background-color: #2196f3"
          src="{%static 'images/doctor.png'%}"
          alt="doctor"
          width="12%"
        />
      </center>
      <br />
    </div>

    <form
      method="POST"
      action="{% url 'doctor_profile' %}"
      class="w3-padding w3-round-large"
    >
      {% csrf_token %}

      <div class="w3-row-padding">
        {%for field in form %}
        <div class="w3-half">
          <label for="{{field.id_for_label}}">{{field.html_name}}</label>
          {{field}}
          <br />
        </div>
        {%endfor%}
      </div>

      <div class="w3-row-padding">
        <div class="w3-half">
          <br />
          <button class="w3-btn w3-blue w3-round" style="margin-bottom: 12px">
            Edit and Save
          </button>
          <p class="w3-red">if you change password you will be logged out !</p>
        </div>
      </div>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </form>
  </section>
</div>

<!-- End page content -->

{%endblock pagecontent%}
